

body {
  
    background: black;
    color: white;
    text-align: center;
    font-family: 'Poppins' , sans-serif;
}

h4 {
  color: blue;
}

p {
  font-size: smaller;
}

a {
  text-decoration: none;
  color: white
}

.profile-img {
  width: 50%;
  border-radius: 50%;
}
.insta{
  color: lightpink;
}

.facebok{
  color: blue;
}
.linked{
  color: lightblue;
}
.twiter{
  color: lightblue;
}

.btn {
  display: block;
  color: black;
  padding: 20px;
  background: darkslateblue;
  margin: 16px;
  box-shadow: 10px 10px lightblue;
}